button {
  position: relative;
  padding-left: 10px;
  color: #FFF;
  border: none;
  height: 40px;
  width: 200px;
  font-family: 'Audiowide', Arial, sans-serif;
  font-size: 18px;
  text-align: left;
}

.favorite-btn {
  background-color: #73151A;
}

.favorite-count {
  position: absolute;
  right: 4px;
  top: 4px;
  padding: 5px 10px;
  background-color: #561011;
}

.people-btn {
  background-color: rgba(73, 93, 150, 1);
}

.planets-btn {
  background-color: rgba(73, 93, 150, 0.8);
}

.vehicles-btn {
  background-color: rgba(73, 93, 150, 0.6);
}

button:hover {
  color: #EDDF00;
}