button {
  position: relative;
  width: 200px;
  height: 50px;
  padding-left: 10px;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  color: #FFF;
  font-family: 'Audiowide', Arial, sans-serif;
  font-size: 18px;
  outline: none;
  text-align: left;
}

.favorite-btn {
  background-color: #73151A;
}

.favorite-count {
  position: absolute;
  top: 8px;
  right: 10px;
  padding: 5px 10px;
  background-color: #561011;
}

.people-btn {
  background: rgba(73, 93, 150, 1) no-repeat url('../../assets/people.svg') 90%/auto 75%;
}

.people-btn:hover {
  background: rgba(73, 93, 150, 1) no-repeat url('../../assets/people-hover.svg') 90%/auto 75%;
}

.planets-btn {
  background: rgba(73, 93, 150, 0.8) no-repeat url('../../assets/planets.svg') 90%/auto 75%;
}

.planets-btn:hover {
  background: rgba(73, 93, 150, 0.8) no-repeat url('../../assets/planets-hover.svg') 90%/auto 75%;
}

.vehicles-btn {
  background: rgba(73, 93, 150, 0.6) no-repeat url('../../assets/vehicles.svg') 90%/auto 75%;
}

.vehicles-btn:hover {
  background: rgba(73, 93, 150, 0.6) no-repeat url('../../assets/vehicles-hover.svg') 90%/auto 75%;
}

.active {
  border-left: 2px solid #EDDF00;
}

button:hover {
  color: #EDDF00;
}
