.scroll {
  height: 200px;
  padding: 25px;
  margin: 20px 0;
  background-color: #000000;
  background-size: cover;
  overflow: hidden;
  perspective: 100px;
}

.scroll-container {
  position: relative;
  height: 200px;
  animation: scroll-up 45s linear infinite;
  color: #EDDF00;
  font-size: 2em;
  transform: translateY(100%);
  transform-origin: 50% 100%;
}

.intro-line {
  padding-bottom: 400px;
  color: #485F95;
}

.scroll-date {
  padding-bottom: 50px;
}

.opening-scroll {
  text-align: justify;
}

@keyframes scroll-up {
  0% {
    transform: rotateX(20deg) translateY(100%);
  }
  100% {
    transform: rotateX(25deg) translateY(-900%);
  }
}
