.scroll {
  padding: 25px;
  margin: 20px 0;
  background-color: #323232;
  height: 200px;
  overflow: hidden;
}

.scroll-text {
  height: 200px;
  color: #EDDF00;
  transform: translateY(100%);
  animation: scroll-up 5s linear infinite;
}

@keyframes scroll-up {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}