.card-list {
  width: 100%;
  padding: 20px;
  background-color: #73151A;
}

.inner-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.yoda-talk {
  color: #EDDF00;
  font-family: Audiowide, Arial, sans-serif;
  font-size: 30px;
  padding: 0 10px 20px 10px;
}

.people {
  background-color: rgba(73, 93, 150, 1);
}

.planets {
  background-color: rgba(73, 93, 150, 0.8);
}

.vehicles {
  background-color: rgba(73, 93, 150, 0.6);
}

@media only screen and (max-width: 550px) {

  .yoda-talk {
    font-size: 20px;
  }

}
