.card {
  position: relative;
  width: 240px;
  padding: 0 5px 20px;
  margin: 10px;
  background-color: #FFF;
  text-align: center;
}

.card p {
  margin-top: 0px;
}

.card-section-title {
  margin-bottom: 0;
  font-style: italic;
  font-weight: normal;
}

.fav-icon {
  position: absolute;
  right: 5px;
  bottom: 0;
  width: 100%;
  height: 60px;
  background: no-repeat url('../../assets/favorite.svg') right/auto 75%;
}

.favorited {
  background: no-repeat url('../../assets/favorite-active.svg') right/auto 75%;
}

.fav-icon:hover {
  background: no-repeat url('../../assets/favorite-hover.svg') right/auto 75%;
}
