* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  height: 194px;
  padding-top: 15px;
  margin-bottom: 35px;
}

body {
  padding: 25px 25px;
  margin: 0;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
}

.trooper {
  width: 161px;
  height: 194px;
  margin: 0 5px;

}

.title {
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #EDDF00;
  font-family: Audiowide, Arial, sans-serif;
  font-size: 92px;
  text-align: center;
  align-self: center;
}

@media only screen and (max-width: 935px) {

  img {
    width: 87%;
  }

}

@media only screen and (max-width: 731px) {

  header {
    justify-content: center;
  }

  .trooper {
    display: none;
  }

}

@media only screen and (max-width: 500px) {

  .title {
    font-size: 60px;
  }

  body {
    padding: 50px 20px;
  }

}
