* {
  box-sizing: border-box;
}

header {
  height: 150px;
  padding-top: 15px;
  background: no-repeat url('assets/header-image.jpg') right/auto 100%;
}

body {
  margin: 0;
  padding: 0 100px;
  background-color: #000;
  font-family: sans-serif;
}

.title {
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #EDDF00;
  font-family: Audiowide, Arial, sans-serif;
  font-size: 92px;
  text-align: center;
}
