* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  height: 150px;
  padding-top: 15px;
  margin-bottom: 60px;
  /*background: no-repeat url('assets/header-image.jpg') right/auto 100%;*/
}

body {
  padding: 50px 100px;
  margin: 0;
  background-color: #000;
  font-family: 'Open Sans', sans-serif;
}

.trooper {
  width: 125px;
  margin: 0 5px;
}

.title {
  margin: 0;
  background-color: rgba(0, 0, 0, 0);
  color: #EDDF00;
  font-family: Audiowide, Arial, sans-serif;
  font-size: 92px;
  text-align: center;
  align-self: center;
}

@media only screen and (max-width: 935px) {

  .trooper {
    display: none;
  }

  img {
    width: 50%;
  }

  .title {
    font-size: 111px;
  }

}

@media only screen and (max-width: 871px) {



}

@media only screen and (max-width: 715px) {

  .title {
    font-size: 80px;
  }

}

@media only screen and (max-width: 500px) {

  .title {
    font-size: 60px;
  }

  body {
    padding: 50px 20px;
  }

}
